################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDDS.Workflow/bin/Debug
/SDDS.Workflow/obj/Debug
/packages/Microsoft.CrmSdk.Workflow.9.0.2.42/lib/net462
/packages/Microsoft.CrmSdk.Workflow.9.0.2.42/lib
/bin
/obj
/.vs
*.suo
*.user
*.sln.docstates
packages/
[Dd]ebug/
[Dd]ebugPublic
[Rr]elease/
[Rr]eleases/
x86/
x64/
bld/
[Bb]in/
[Oo]bj/
[L1]og/
.vs/
[Tt]est[Rr]esult*/
[Bb]ild[L1]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]ebugPS/
dlldata.c
project.lock.json
project.fragment.lock.jsonartifacts/

*_i.c
*_p.c
*_i.h
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap

$tf/
*.cache
*.suo
*FileContentIndex/
*.vsidx
